body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.vis {
    text-align: center;
}

.data {
    color: #FF9900;
}

img {
    display: inline-flex;
    text-align: center;
}

figcaption {
    padding: 10px;
    font-style: italic;
}

.todo {
    background: red;
    color:white;
    padding: 3px;
}

p {
    font-size: 15px !important;
}
